<!DOCTYPE html>

<!-- thymeleaf est un moteur de  template  
qui permet de chercher le produit dans le model et inserer dans la vue-->
<!--  -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
<meta charset="utf-8"/>
<title>Produits</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<!-- <link rel="stylesheet" type="text/css" 
href="../static/css/bootstrap.min.css" 
th:href="@{css/bootstrap.min.css}"/>
 -->
</head>
<body>
<p>
<div layout:fragment="content">
<div class="container col-md-8  col-md-offset-2"> 
	<div class="panel panel-primary">
	 <div class="panel-heading"> confirmation de l'ajout d'un Produit </div>
		 <div class="panel-body">
			
			<div class="form-group">
		  	   <label class="control-label"> Id :</label>
		  	   <label class="control-label" th:text="${produit.id}"></label>	
		  	</div>
		  	<div class="form-group">
		  	   <label class="control-label"> Designation :</label>
		     <label class="control-label" th:text="${produit.designation}"></label>
		  	</div>
		  	<div class="form-group">
		      	<label class="control-label"> Prix :</label>
		      	<label class="control-label"  th:text="${produit.prix}"></label>
		  	</div>
		  	 <div class="form-group">
		  	     <label class="control-label"> Quantite :</label>
		  	     <label class="control-label" th:text="${produit.quantite}"></label>
		    </div> 
		  </div>
 </div></div>
</div>
</body>
</html>